/**************************/
/*         FOOTER         */
/**************************/
.footer {
  justify-self: center;
  align-self: center;
  color: #8a8a8a;
  margin-bottom: 2rem;
  justify-content: center;
}

.copy-right {
  font-size: 1.2rem;
  font-weight: 300;
}
