/***************************************/
/*               Nav              */
/***************************************/

.nav {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav-ul {
  counter-reset: section;
  margin-right: 6.4rem;
  gap: 3.2rem;
  list-style-type: none;
  font-size: 1.4rem;
}

/***************************************/
/*                  Logo               */
/***************************************/
.logo {
  height: 4.4rem;
  width: 4.4rem;
  margin-left: 6.4rem;
  background-color: crimson;
  border-radius: 50%;
}

/***************************************/
/*               Nav links             */
/***************************************/

.nav-links::before {
  counter-increment: section;
  content: "0" counter(section) ".";
  color: black;
  padding-right: 0.4rem;
}

.nav-links:link,
.nav-links:visited {
  color: crimson;
}

.nav-links:hover,
.nav-links:active {
  color: black;
}

/***************************************/
/*                Resume               */
/***************************************/

.resume {
  border: 1px solid crimson;
  padding: 0.6rem 0.8rem;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.resume:link,
.resume:visited {
  color: crimson;
}

.resume:hover,
.resume:active {
  color: crimson;
  background-color: rgba(220, 20, 60, 0.274);
}
