/***************************************/
/*                Imports              */
/***************************************/
@import url(about_me.css);
@import url(footer.css);
@import url(nav.css);
@import url(socialmedia.css);
@import url(skills.css);
@import url(projects.css);
@import url(contact_me.css);

/***************************************/
/*                Queries              */
/***************************************/
/* 1rem = 1em = 16px */

/*******************************/
/*        BELOW 1200 px       */
/******************************/
@media (max-width: 75em) {
  .main {
    max-width: 90rem;
  }
}

/*******************************/
/*        BELOW 1072 px       */
/******************************/
@media (max-width: 67em) {
  .main {
    max-width: 80rem;
  }
}

/*******************************/
/*        BELOW 976 px       */
/******************************/
@media (max-width: 67em) {
  .main {
    max-width: 70rem;
  }
  /*  ----- ABOUT ME -----   */
  .name {
    font-size: 7.4rem;
  }
  .stuff {
    font-size: 4.4rem;
  }

  /*        PROJECTS       */
  .project-description {
    width: 45ch;
  }
}

/*******************************/
/*        BELOW 864 px       */
/******************************/
@media (max-width: 54em) {
  /*  ----- SOCIALS -----   */
  .socials {
    position: relative;
    margin: 0px auto;
    left: 0;
    order: 5;
  }
  .socials-nav-ul {
    flex-direction: row;
  }
  .socials-nav::after {
    content: none;
  }
  .socials-icon {
    font-size: 2.4rem;
  }
  .nav-resume {
    margin-right: 4.8rem;
  }
}

/*******************************/
/*        BELOW 832 px       */
/******************************/
@media (max-width: 52em) {
  /*  ----- NAV -----   */
  .logo {
    margin-left: 4.4rem;
  }
  .nav-ul {
    gap: 2rem;
  }
  .nav-resume {
    margin-right: 2.4rem;
  }
  /*  ----- ABOUT ME -----   */
  .name {
    font-size: 6.2rem;
  }
  .stuff {
    font-size: 3.6rem;
  }
  .personal-desc {
    width: 72ch;
  }
  .personal-description {
    font-size: 1.6rem;
  }
  /*  ----- PROJECTS -----   */
  .left-side {
    height: 45rem;
    display: flex;
    background-size: contain;
    background-image: url(/website_portfolio/imgs/foto.png);
    mix-blend-mode: multiply;
  }

  .img-over-lay {
    display: none;
  }

  .project-info {
    padding-left: 4.8rem;
    align-items: start;
    justify-content: center;
    gap: 2rem;
  }
  .project-description {
    background-color: inherit;
    padding: 0;
  }

  .project-content {
    background-color: #eaeaeae7;
    width: 100%;
    height: 100%;
    display: flex;
  }
}

/*******************************/
/*        BELOW 688 px       */
/******************************/
@media (max-width: 43em) {
  /*  ----- NAV -----   */
  .btn-nav {
    opacity: 1;
    font-size: 3rem;
    margin-right: 2.4rem;
    z-index: 9999;
  }

  .resume {
    font-size: 1.6rem;
  }
  .nav {
    background-color: rgba(220, 20, 60, 0.774);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: none;
    visibility: hidden;
    /* transition: all 0.2s ease-in; */
  }

  h2::after {
    width: 0;
  }
  .nav-ul {
    font-size: 2.4rem;
    font-weight: 600;
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-links:link,
  .nav-links:visited {
    color: #ffffff;
  }

  .nav-resume {
    flex-direction: column;
    gap: 6.4rem;
  }

  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .phone-icon-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .phone-icon-nav[name="menu-outline"] {
    display: none;
  }

  /*  ----- MAIN -----   */
  .main {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  /*  ----- ABOUT ME -----   */
  .about-me {
    align-self: center;
  }

  /*  ----- SKILLS -----   */
  .skills-logos {
    display: flex;
    flex-direction: column;
  }
  .skills-name {
    opacity: 1;
    color: crimson;
  }
  .skills-list-container {
    margin: 0 auto;
  }

  .ul-skills {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
  }
  .n1 {
    grid-area: 1/1/2/2;
  }

  .e1 {
    grid-area: 1/3/2/4;
  }

  .s1 {
    grid-area: 2/2/3/3;
  }

  .w1 {
    grid-area: 3/1/4/2;
  }

  .n2 {
    grid-area: 3/3/4/4;
  }

  .e2 {
    grid-area: 5/1/6/2;
  }

  .s2 {
    grid-area: 5/3/6/4;
  }

  .w2 {
    grid-area: 4/2/5/3;
  }

  /*  ----- PROJECTS -----   */
  .projects {
    align-self: center;
  }

  /*  ----- CONTACT ME -----   */
  .contact-me {
    align-self: center;
  }
  .message-form {
    min-width: 49.6rem;
  }
  .form {
    grid-template-columns: 30rem 20rem;
  }
}

/*******************************/
/*        BELOW 560 px       */
/******************************/
@media (max-width: 35em) {
  /*  ----- ABOUT ME -----   */
  .name {
    font-size: 5.2rem;
  }
  .stuff {
    font-size: 3rem;
  }
  .personal-desc {
    width: 72ch;
  }
  .personal-description {
    font-size: 1.4rem;
  }

  /*  ----- SKILLS -----   */
  .skills {
    align-self: center;
  }
  .ul-skills {
    gap: 0rem;
    font-size: 4.4rem;
  }

  /*  ----- PROJECTS -----   */
  .project-description {
    width: 33ch;
  }
  .pro-description {
    font-size: 1.4rem;
  }

  /*  ----- CONTACT ME -----   */
  .form {
    column-gap: 0;
    grid-template-columns: 26rem 20rem;
  }
  .message-form {
    min-width: 44rem;
  }
}

/*******************************/
/*        BELOW 480 px       */
/******************************/
@media (max-width: 30em) {
  h2::after {
    width: 200px;
  }

  /*  ----- ABOUT ME -----   */
  .name {
    font-size: 4.4rem;
  }
  .stuff {
    font-size: 2.4rem;
  }
  .personal-desc {
    width: 45ch;
  }
  .personal-description {
    font-size: 1.2rem;
  }

  /*  ----- PROJECTS -----   */
  .project-info {
    padding-left: 1.8rem;
  }
  .project-description {
    width: 28ch;
  }
  /*  ----- CONTACT ME -----   */
  .form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .message-form {
    min-width: 40rem;
    padding: 1rem 0 0 0.75rem;
  }
}

/*******************************/
/*        BELOW 432 px       */
/******************************/
@media (max-width: 27em) {
  h2::after {
    width: 150px;
  }
  /*  ----- ABOUT ME -----   */
  .stuff {
    font-size: 2.2rem;
  }

  /*  ----- CONTACT ME -----   */
  .message-form {
    min-width: 32rem;
  }
}
