.socials {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 99999;
}

.socials-nav-ul {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-bottom: 2.4rem;
  gap: 2.4rem;
}

.socials-icon {
  font-size: 2rem;
  transition: all 0.3s ease;
}
.socials-icon:link,
.socials-icon:visited {
  color: black;
}

.socials-icon:hover,
.socials-icon:active {
  color: crimson;
  transform: scale(1.3) translate(0, -10%);
}
.socials-nav::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  margin: 0px auto;
  background-color: crimson;
}
